{% extends 'base.html' %}

{% block title %}Eventos{% endblock %}

{% block content %}
    <div class="container mt-5 d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="text-center mb-4">Eventos Culinarios</h1>  
            <ul class="list-group mt-4">
            {% for evento in eventos %}
                <li class="list-group-item">
                    <h4>{{ evento.nombre }} - {{ evento.ubicacion }}</h4>
                    <p>{{ evento.fecha }}</p>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'editar_evento' forloop.counter0 %}">Editar</a>
                        <a href="{% url 'eliminar_evento' forloop.counter0 %}">Eliminar</a>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item">No hay eventos agendados.</li>
            {% endfor %}
            </ul>
            <a href="{% url 'nuevo_evento' %}" class="btn btn-primary mt-4">Crear Nuevo Evento</a>
        </div>
    </div>
{% endblock %}