{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block container %}container{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¡¡Bienvenidos al recetario!!</h1>
                <p>Esta es una aplicación de recetas. Aquí encontrarás las recetas más deliciosas del grupo 0074.</p>
                <div><a href="{% url 'recetas' %}" class="btn btn-primary me-3">Ver Recetas</a><a href="{% url 'eventos' %}" class="btn btn-danger">Ver Eventos</a></div>
            </div>
        </div>
    </div>
{% endblock %}