{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block container %}container{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¡¡Bienvenidos al recetario!!</h1>
                <p>Esta es una aplicación de recetas. Aquí encontrarás las recetas más deliciosas del grupo 0074.</p>
                <p><a href="{% url 'recetas' %}"><button class="btn btn-primary">Ver Recetas</button></a></p>
            </div>
        </div>
    </div>
{% endblock %}