{% extends "base.html" %}

{% block title %}Pagina prohibida{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="container-fluid col-12 text-center mt-5">
                <h1 class="display-4">¡Acceso Denegado!</h1>
                <p class="lead">No tienes permiso para acceder a esta página.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Volver a la página principal</a>
            </div>
        </div>
    </div>

{% endblock %}

