<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina prohibida</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1 class="display-4">¡Acceso Denegado!</h1>
                <p class="lead">No tienes permiso para acceder a esta página.</p>
                <a href="#" class="btn btn-primary">Volver a la página principal</a>
            </div>
        </div>
    </div>
</body>
</html>